

.client-picker::-webkit-scrollbar {
    height: 10px;
}

/* Style the scrollbar thumb */
.client-picker::-webkit-scrollbar-thumb {
    background-color: teal;
    /* Change to your desired color */
    border-radius: 5px;
    /* Rounded thumb */
}

/* Style the scrollbar thumb on hover */
.client-picker::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 182, 182);
    /* Change to your desired hover color */
}

/* Style the scrollbar track on hover */
.client-picker::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    /* Change to your desired track color */
}
